<html>
<body style="padding: 20px; background-color: white; min-height: 500px; ">
    <div style="padding-top: 20px; background-color: #f3f3f3; border-radius: 25px;">
        <div style="text-align: center;">
            <img src="https://firebasestorage.googleapis.com/v0/b/strimo-9e1a1.appspot.com/o/email-images%2Fstrimo%20logo.png?alt=media&token=950fd0b4-80d9-49a5-901e-daf47d5ede20" alt="" width="300px"/>
        </div>
        <div style="padding: 30px; text-align: center;">
            <p>El id del ticket es: <%=id%></p>
            <hr>
            <div style="display: flex;">
                <h2>Concierto</h5>
                <h2 style="margin-left: auto;"><%=dataC.titulo%></h5>
            </div>
            <div style="display: flex;">
                <h2>Fecha</h5>
                <h2 style="margin-left: auto;"><%=dataC.fecha%></h5>
            </div>
            <div style="display: flex;">
                <h2>hora</h5>
                <h2 style="margin-left: auto;"><%=dataC.hora%></h5>
            </div>
            <div style="display: flex;">
                <h2>Tipo de Ticket</h5>
                <h2 style="margin-left: auto;"><%=dataP.tipo%></h5>
            </div>
            <div style="display: flex;">
                <h2>Precio del Ticket</h5>
                <h2 style="margin-left: auto;"><%=dataP.precio%></h5>
            </div>
            <div style="display: flex;">
                <h2>Artista</h5>
                <h2 style="margin-left: auto;"><%=dataC.artista%></h5>
            </div>
        </div>
        <div style="background-color: #81defe; display: flex; padding: 15px; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; justify-content:center; align-items: center; text-align: center;">
                <img style="margin-left: 5px; text-align: center;" width="40px" src="https://firebasestorage.googleapis.com/v0/b/strimo-9e1a1.appspot.com/o/email-images%2Ffacebook-circle.png?alt=media&token=b89bd395-1d5f-4545-8478-1f9b7c34442d" alt=""/>
                <img style="margin-left: 5px; text-align: center;" width="40px" src="https://firebasestorage.googleapis.com/v0/b/strimo-9e1a1.appspot.com/o/email-images%2Ftwitter-circle.png?alt=media&token=588beec4-4b0a-4e7e-b06d-6187cd8c4abc" alt=""/>
                <img style="margin-left: 5px; text-align: center;" width="40px" src="https://firebasestorage.googleapis.com/v0/b/strimo-9e1a1.appspot.com/o/email-images%2Finstagram-circle.png?alt=media&token=47b2da3e-81ad-4e0f-b44b-46546aa08f6b" alt=""/>
                <img style="margin-left: 5px; text-align: center;" width="40px" src="https://firebasestorage.googleapis.com/v0/b/strimo-9e1a1.appspot.com/o/email-images%2Fyoutube-circle.png?alt=media&token=d1e0c3b0-1f73-4625-8845-40e6d0f88bb9" alt=""/>            
        </div>
        </div>
</body>
</html>